[workspace]
members = [
    "bathbot",
    "bathbot-cache",
    "bathbot-cards",
    "bathbot-client",
    "bathbot-macros",
    "bathbot-model",
    "bathbot-psql",
    "bathbot-server",
    "bathbot-util",
]
resolver = "2"

[workspace.package]
version = "3.6.4"
authors = ["MaxOhn <ohn.m@hotmail.de>"]
edition = "2021"

[workspace.dependencies]
rosu-v2 = { git = "https://github.com/MaxOhn/rosu-v2", branch = "next", default-features = false, features = ["macros", "metrics", "rkyv"] }
rosu-pp = { git = "https://github.com/MaxOhn/rosu-pp", branch = "next", features = ["async_tokio"] }
twilight-gateway = { version = "0.15", default-features = false, features = ["rustls-webpki-roots", "twilight-http", "zlib-stock"] }
twilight-http = { version = "0.15", default-features = false, features = ["rustls-webpki-roots"] }
twilight-interactions = { git = "https://github.com/MaxOhn/twilight-interactions", branch = "with-help", default-features = false, features = ["derive"] }
twilight-model = { version = "0.15", default-features = false }
twilight-standby = { version = "0.15", default-features = false }

[profile.dev.package.sqlx-macros]
opt-level = 3

[profile.release]
lto = "thin"
codegen-units = 1
strip = "debuginfo"

[profile.dev]
incremental = false # await fix of ICE