[package]
name = "bathbot-twilight"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
aho-corasick = { version = "0.7" }
bathbot-cache = { path = "../bathbot-cache" }
bathbot-client = { path = "../bathbot-client" }
bathbot-macros = { path = "../bathbot-macros" }
bathbot-model = { path = "../bathbot-model" }
bathbot-psql = { path = "../bathbot-psql" }
bathbot-server = { path = "../bathbot-server", optional = true }
bathbot-util = { path = "../bathbot-util" }
bitflags = { version = "1.0" }
bytes = { version = "1.0" }
dotenvy = { version = "0.15" }
enterpolation = { version = "0.2", default-features = false, features = ["std", "bezier", "bspline", "linear"] }
enum_dispatch = { version = "0.3.11" }
eyre = { version = "0.6" }
flexmap = { git = "https://github.com/MaxOhn/flexmap" }
flurry = { version = "0.4" }
futures = { version = "0.3", default-features = false }
handlebars = { version = "4.0" }
hashbrown = { version = "0.12" }
image = { version = "0.24", default-features = false, features = ["gif", "png"] }
itertools = { version = "0.10" }
leaky-bucket-lite = { version = "0.5", features = ["parking_lot"] }
nom = { version = "7.1.3" }
once_cell = { version = "1.0" }
parking_lot = { version = "0.12", default-features = false }
plotters = { version = "0.3", default-features = false, features = ["ttf", "image", "line_series", "area_series", "histogram", "point_series"] }
plotters-backend = { version = "0.3" }
plotters-skia = { git = "https://github.com/MaxOhn/plotters-skia", branch = "main" }
priority-queue = { version = "1.0", optional = true }
prometheus = { version = "0.13" }
radix_trie = { version = "0.2" }
rand = { version = "0.8" }
rosu-pp = { workspace = true }
rosu-v2 = { workspace = true }
rkyv = { version = "0.7" }
rosu-pp-older = { git = "https://github.com/MaxOhn/rosu-pp-older.git", branch = "main" }
rosu-render = { path = "../../rosu-render" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
skia-safe = { version = "0.58.0" }
smallvec = { version = "1.0" }
thiserror = { version = "1.0" }
time = { version = "0.3", features = ["parsing"] }
tokio = { version = "1.20", default-features = false, features = ["fs", "io-util", "macros", "parking_lot", "rt-multi-thread", "signal", "sync", "time"] }
tokio-stream = { version = "0.1", default-features = false }
tracing = { version = "0.1" }
tracing-appender = { version = "0.2" }
tracing-subscriber = { version = "0.3", default-features = false, features = ["env-filter", "fmt", "smallvec", "std", "time", "tracing-log"] }
twilight-gateway = { workspace = true }
twilight-http = { workspace = true }
twilight-interactions = { workspace = true }
twilight-model = { workspace = true }
twilight-standby = { workspace = true }

[features]
default = ["offline"]
full = ["global_slash", "matchlive", "osutracking", "server", "twitch", "twitchtracking"]

global_slash = []
matchlive = []
offline = ["bathbot-psql/offline"]
osutracking = ["priority-queue"]
server = ["bathbot-server", "twitch"]
twitch = ["bathbot-client/twitch"]
twitchtracking = ["twitch"]
