[package]
name = "bathbot-psql"
version = "0.1.0"
authors = ["MaxOhn <ohn.m@hotmail.de>"]
edition = "2021"

[dependencies]
arrayvec = { version = "0.7" }
bathbot-model = { path = "../bathbot-model" }
compact_str = { version = "0.6", default-features = false, features = ["rkyv"] }
eyre = { version = "0.6" }
futures = { version = "0.3", default-features = false }
ptr_meta = { version = "~0.1.3" }
rkyv = { version = "0.7" }
rosu-v2 = { git = "https://github.com/MaxOhn/rosu-v2", branch = "next", default-features = false, features = ["rkyv"] }
rosu-pp = { git = "https://github.com/MaxOhn/rosu-pp", branch = "next" }
smallvec = { version = "1.10" }
time = { version = "0.3" }
tokio = { version = "1.20", default-features = false, features = ["io-util", "time"] }
tracing = { version = "0.1" }
twilight-interactions = { git = "https://github.com/MaxOhn/twilight-interactions", branch = "rkyv-13", default-features = false, features = ["derive"] }
twilight-model = { git = "https://github.com/MaxOhn/twilight", branch = "rkyv-13", default-features = false }
sqlx = { version = "0.6", default-features = false, features = ["json", "macros", "postgres", "runtime-tokio-rustls", "time"] }

[dev-dependencies]
dotenvy = { version = "0.15" }

[features]
default = ["offline"]

offline = ["sqlx/offline"]