name: Build and Deploy

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTFLAGS: -Cdebuginfo=1 -Dwarnings

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Fix apt mirrors and install dependencies
        run: |
          # Fix broken apt mirrors
          sudo sed -i 's/archive.ubuntu.com/security.ubuntu.com/g' /etc/apt/sources.list
          sudo sed -i 's/azure.archive.ubuntu.com/security.ubuntu.com/g' /etc/apt/sources.list
          sudo apt-get update

          # Install required dependencies
          sudo apt-get install -y libfontconfig1-dev libfreetype-dev libpng-dev jq

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v1

      - name: Build
        run: cargo build --release --features full

      - name: Deploy
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SCP_HOST }}
          username: ${{ secrets.SCP_USERNAME }}
          password: ${{ secrets.SCP_PASSWORD }}
          key: ${{ secrets.SCP_KEY }}
          source: target/release/bathbot-twilight
          target: ${{ secrets.SCP_TARGET }}
          strip_components: 2
